.paginationBtn:link,
.paginationBtn:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #59c4bc;
  font-weight: 700;
  padding: 10px 15px;
  margin: 0 1px;
  border: 1px solid #59c4bc;
  border-radius: 1000px;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
}

.paginationBtn:hover {
  transform: translateY(-5px);
  background-color: #59c4bc;
  color: white;
  /* box-shadow: 0 10px 20px #59C4BC; */
}

.paginationBtn:active {
  transform: translateY(-3px);
}

.paginationBtn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}

.paginationBtn:hover::after {
  background-color: #59c4bc;
  /* transform: scaleX(1.4) scaleY(1.5); */
  opacity: 0;
}

.previewImageTag {
    position: absolute;
}

.destroyImageBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: absolute;
    right: 30px;
    margin-top: 10px;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: .3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .destroyImageBtn:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
  }
  
  .destroyImageBtn:hover .svgIcon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
  }
  
  .destroyImageBtn::before {
    position: absolute;
    top: -20px;
    content: "Delete";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
  }
  
  .destroyImageBtn:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
  }